<%= setup_context(:title => I18n.t("reading_room_request._plural")) %>

<%= javascript_include_tag 'readingroom_requests' %>

<%
  def badge_class_for_status(status)
    if status.starts_with?('CANCELLED') || status.starts_with?('REJECTED')
      'label-danger'
    elsif status == 'AWAITING_AGENCY_APPROVAL'
      'label-warning'
    elsif status == 'PENDING'
      'label-default'
    elsif status == 'COMPLETE'
      'label-success'
    elsif ['DELIVERED_TO_READING_ROOM'].include?(status) 
      'label-primary'
    else
      'label-info'
    end
  end
%>


<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>

      <% if @search_data.results? && !Array(@search_data[:criteria]['filter_term[]']).find {|term| JSON.parse(term).keys[0] == 'date_required'} %>
        <h3>Date required</h3>
        <ul>
          <li><%= link_to("Today", build_search_params({}).merge("filter_term[]" => {"date_required" => 1}.to_json)) %></li>
          <li><%= link_to("Within 3 days", build_search_params({}).merge("filter_term[]" => {"date_required" => 3}.to_json)) %></li>
          <li><%= link_to("Within 7 days", build_search_params({}).merge("filter_term[]" => {"date_required" => 7}.to_json)) %></li>
          <li><%= link_to("Within 14 days", build_search_params({}).merge("filter_term[]" => {"date_required" => 14}.to_json)) %></li>
        </ul>
      <% end %>


    </div>
  </div>

  <div class="col-md-9">
    <div class="record-toolbar">
      <% if @search_data['total_hits'] > 0 %>
        <div class="rrr-bulk-action-buttons pull-right">
          Bulk action for
          <span class="rrr-selected-requests-count">
            <%= [@search_data['total_hits'], @search_data['page_size']].min.to_s %>
          </span> selected requests:

          <div class="btn-group">
            <%= link_to "Download slips", {:controller => :reading_room_requests, :action => :picking_slip, :ids => "999"}, :title => "Download slips", :target => '_blank', :class => 'btn btn-default btn-xs rrr-bulk-picking-slip-button' %>
          </div>

          <% status_term = Array(@search_data[:criteria]['filter_term[]']).find {|term| JSON.parse(term).keys[0] == 'rrr_status_u_ssort'} %>

          <% unless status_term.nil? %>
            <% status = JSON.parse(status_term).values[0] %>
            <% buttons_for_request(status, 999, :restricted => :both).each do |button| %>
              <div class="btn-group">
                <%= button %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="rrr-bulk-action-explainer pull-right" style="display:none;">
          Select one or more requests to perform bulk actions
          <br style="clear:both" />
        </div>
      <% end %>
    </div>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("reading_room_request._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <% if @search_data.results? %>
        <%= render_aspace_partial :partial => "shared/pagination_summary" %>

        <table id="tabledSearchResults" class="table table-striped table-bordered table-condensed table-hover table-sortable table-search-results">
          <thead>
          <tr>
            <th class="rrr-selected-item-cell col">
              <input class="rrr-select-all-items" type="checkbox" name="select-all-items" value="all" checked="true"/>
            </th>

            <% @rrr_sort_columns.each do |col| %>
              <th class="col sortable <%= "sort-#{@search_data.current_sort_direction}" if @search_data.sorted_by === col %>">
                <%= link_to I18n.t("search_sorting.#{col}"), build_search_params("sort" => @search_data.sort_filter_for(col)) %>
              </th>
            <% end %>

            <th class="col actions"><%= I18n.t("reading_room_request.actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% @search_data['results'].each do |result| %>
            <% deleted = (params.has_key?("deleted_uri") and Array(params["deleted_uri"]).include?(result["id"])) || false %>
            <% parsed = ASUtils.json_parse(result['json']) %>
            <% request_id = JSONModel(:reading_room_request).id_for(result['uri']) %>
            <% requested_item = parsed.fetch('requested_item', {}).fetch('_resolved', {}) %>
            <% restricted_item = requested_item['rap_access_status'] == 'Restricted Access' %>

            <tr class="<%= 'deleted' if deleted %> <%= 'rrr-restricted-item' if restricted_item %>">
              <td class="rrr-selected-item-cell">
                <input class="rrr-selected-item" type="checkbox" name="selected-item" value="<%= request_id %>" checked="true" id="selected-item-<%= request_id %>"/>
              </td>
              <td><%= QSAIdHelper.id(parsed.fetch('qsa_id_prefixed'), :link => true) %></td>
              <td>
                <%= ('<div class="token-list">' +
                        render_token(:object => requested_item,
                                     :label => ("%s: %s" % [requested_item['qsa_id_prefixed'], requested_item['title']]).html_safe,
                                     :type => requested_item['jsonmodel_type'],
                                     :uri => requested_item["uri"],
                                     :placement => "top",
                                     :inside_linker_browse => true) +
                        '</div>').html_safe %>

                <% if restricted_item %>
                  <div class="clearfix"></div>
                  <div class="label label-danger"><%= requested_item['rap_access_status'] %></div>
                <% end %>
              </td>

              <td>
                <% calculated_availability = requested_item.fetch('calculated_availability', nil) %>
                <% if calculated_availability %>
                  <div class="label label-<%= requested_item.fetch('calculated_availability', nil) == 'available' ? 'success' : 'danger' %>">
                    <%= I18n.t('enumerations.runcorn_physical_representation_availability_concise.' + requested_item.fetch('calculated_availability')) %>
                  </div>
                <% end %>
              </td>

              <td>
                <%
                   user = parsed.fetch('requesting_user')
                   names = [user.fetch('first_name', nil), user.fetch('last_name', nil)].compact.join(" ")
                   email = user.fetch('email')
                   email = "%s <%s>" % [names, email] unless names.empty?
                %>
                <a href="mailto:<%= email %>">
                  <% if names.empty? %>
                    <%= user.fetch('email') %>
                  <% else %>
                     <%= names %>  
                  <% end %>
                </a>

                <div class="clearfix"></div>

                <div class="label label-<%= user.fetch('verified') ? 'success' : 'danger' %>"><%= user.fetch('verified') ? 'Verified' : 'Unverified' %></div>

              </td>

              <td class="rrr-status">
                <div>
                  <%= ("<div class='label #{badge_class_for_status(parsed.fetch('status'))}'>" + I18n.t('reading_room_request.statuses.' + parsed.fetch('status').downcase).upcase + '</div>').html_safe %>
                </div>
              </td>

              <td>
                <% date = parsed.fetch('date_required', '') %>
                <% unless date.to_s.empty? %>
                  <div class="rrr-date-required">
                    <%= Time.at(Integer(date) / 1000).to_date.iso8601 %>
                  </div>
                  <% if parsed['time_required'] %>
                    <span class="text-muted"><%= parsed.fetch('time_required') %></span>
                  <% end %>
                <% end %>
              </td>
              <td class="table-record-actions">
                <%= link_to "Download slip", {:controller => :reading_room_requests, :action => :picking_slip, :ids => request_id}, :title => "Download picking slip", :target => '_blank', :class => 'btn btn-default btn-xs' %>
                <div class="rrr-status-actions">
                  <% buttons_for_request(parsed.fetch('status'), request_id, :restricted => (restricted_item ? :restricted : :unrestricted)).each do |button| %>
                    <%= button %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= render_aspace_partial :partial => "shared/pagination" %>
      <% else %>
        <p class="alert alert-info">
          <%= I18n.t("search_results.no_results") %>
        </p>
      <% end %>

    </div>
  </div>
</div>
