<%= setup_context(:title => I18n.t("reading_room_requests._plural")) %>

<%
@no_title = true
%>

<%
add_column(I18n.t("reading_room_requests.requested_item"),
           proc {|record|
                 parsed = ASUtils.json_parse(record['json'])
                 requested_item = parsed.fetch('requested_item', {}).fetch('_resolved', {})

                 ('<div class="token-list">' +
                  render_token(:object => requested_item,
                               :label => ("%s: %s" % [requested_item['qsa_id_prefixed'], requested_item['title']]).html_safe,
                               :type => requested_item['jsonmodel_type'],
                               :uri => requested_item["uri"],
                               :placement => "top",
                               :inside_linker_browse => true) +
                  '</div>').html_safe
           })
%>

<%
add_column(I18n.t("reading_room_requests.researcher_name"),
           proc {|record|
                 parsed = ASUtils.json_parse(record['json'])
                 user = parsed.fetch('requesting_user')
                 names = [user.fetch('first_name', nil), user.fetch('last_name', nil)].compact.join(" ")

                 if names.empty?
                   user.fetch('email')
                 else
                   "%s <%s>" % [names, user.fetch('email')]
                 end
           })
%>


<%
add_column(I18n.t("reading_room_requests.status"),
           proc {|record|
                 parsed = ASUtils.json_parse(record['json'])
                 ('<div class="badge">' + parsed.fetch('status') + '</div>').html_safe
           })
%>

<%
add_column(I18n.t("reading_room_requests.date_required"),
           proc {|record|
                 parsed = ASUtils.json_parse(record['json'])
                 date = parsed.fetch('date_required', '')
                 if date.to_s.empty?
                   ''
                 else
                   Time.at(Integer(date) / 1000).to_date.iso8601
                 end
           })

%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("reading_room_requests._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>

