<div class="row">
  <div class="col-md-12">
    <div class="record-pane">
      <h1>Digital Copy Pricing</h1>

      <div class="well">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="record_uri">Record URI</label>
              <div>
                <div class="input-group linker-wrapper">
                  <input type="text" class="linker"
                         id="record_uri"
                         data-label="Record"
                         data-label_plural="Records"
                         data-name="ref"
                         data-path="record_uri"
                         data-url="<%= url_for  :controller => :search, :action => :do_search, :format => :json %>"
                         data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => [], :sort => "title_sort asc" %>"
                         data-selected="{}"
                         data-multiplicity="one"
                         data-types='<%= ['resource', 'archival_object'].to_json %>'
                    />
                  <div class="input-group-btn">
                    <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="price">Price in cents</label>
              <div>
                <input type="number" id="price" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <button id="addDigitalCopyPricing" class="btn btn-primary">Add/Update Pricing</button>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th width="180px">QSA ID</th>
            <th>Record Title</th>
            <th width="180px" class="text-right">Price in cents</th>
            <th width="80px"></th>
          </tr>
        </thead>
        <tbody>
          <% @prices.sort{|a, b| a.item['qsa_id_prefixed'] <=> b.item['qsa_id_prefixed'] }.each do |price| %>
            <tr>
              <td><%= QSAIdHelper.id(price.item['qsa_id_prefixed'], :link => true) %></td>
              <td><%= price.item['display_string'] %></td>
              <td class="text-right"><%= price.price_cents %></td>
              <td class="text-right"><button class="btn btn-danger btn-xs delete-price" data-uri="<%= price.item['ref'] %>"><i class="fa fa-trash"></i> Delete</button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag("linker") %>
<script>
  $(function() {
    $(".linker:not(.initialised)").linker();


    $('#addDigitalCopyPricing').on('click', function() {
      var uri = $('#record_uri').val();
      var price = $('#price').val();

      if (uri.length === 0 || price.length === 0) {
        return;
      }

      $('.delete-price').prop('disabled', true);
      $('#addDigitalCopyPricing').prop('disabled', true);

      $.ajax({
        url: APP_PATH + "digital_copy_prices",
        method: 'POST',
        data: {
          price: price,
          uri: uri
        },
        success: function() {
          location.reload();
        }
      })
    });

    $('.delete-price').on('click', function() {
      var uri = $(this).data('uri');

      $('.delete-price').prop('disabled', true);
      $('#addDigitalCopyPricing').prop('disabled', true);

      $.ajax({
        url: APP_PATH + "digital_copy_prices/delete",
        method: 'POST',
        data: {
          uri: uri
        },
        success: function() {
          location.reload();
        }
      })
    });
  });
</script>
