<ul>
<% @data.fetch('requested_items', []).each do |item| %>
  <li>
    <%= item['item_qsa_id'] %> <%= item['item_display_string'] %>
    <div>Parent: <%= item.dig('controlling_record', 'qsa_id') %> <%= item.dig('controlling_record', 'display_string') %></div>
    <div>Series: <%= item.dig('series', 'qsa_id') %> <%= item.dig('series', 'display_string') %></div>
    <div>Dates: <%= item['dates'] %></div>
    <div>RAP: <%= item.dig('rap_applied', 'display_string') %></div>
    <div>RAP Expiry Date: <% if item.dig('rap_expiration', 'expires') %><%= item.dig('rap_expiration', 'expiry_date') %><% else %>No Expiry<% end %></div>
  </li>
<% end %>
</ul>