<div>Email: <%= @data.dig('user', 'email') %></div>
<div>Street Address: <%= @data.dig('user', 'street_address') %></div>
<div>City/Suburb: <%= @data.dig('user', 'city_suburb') %></div>
<div>State: <%= @data.dig('user', 'state') %></div>
<div>Post code: <%= @data.dig('user', 'post_code') %></div>
<div>Phone: <%= @data.dig('user', 'phone') %></div>